@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

:root {
  --color-primary-000: #3733ff;
  --color-primary-050: #ff6e30;
  --color-primary-050: #e81504;
  --color-primary-100: #4fc8ff;
  --color-primary-150: #0c846c;
  --color-primary-200: #1cdeb9;
  --color-primary-250: rgba(28, 222, 185, 0.25);
  --color-secondary-000: #1d2d44;
  --color-secondary-050: rgba(29, 45, 68, 0.8);
  --color-secondary-100: #445b7c;
  --color-secondary-125: rgba(68, 91, 124, 0.5);
  --color-secondary-150: rgba(73, 73, 73, 0.6);
  --color-secondary-200: #e4e4e4;
  --color-secondary-250: #ededed;
  --color-secondary-300: #fff;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary-050) var(--color-secondary-200);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--color-secondary-200);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-050);
  border: 1px solid var(--color-secondary-200);
  border-radius: 10px;
}

:focus {
  outline: 2px dashed var(--color-primary-150);
  outline-offset: 3px;
}

:focus:not(:focus-visible) {
  outline: none;
  outline-offset: 0px;
}

:focus-visible {
  outline: 2px dashed var(--color-primary-150);
  outline-offset: 3px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, "Segoe UI", Verdana, Tahoma, sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-secondary-250);
  /* overflow: hidden; */
  height: 100vh;
  width: 100vw;
}

.failed {
  display: none;
}

@media (max-width: 700px) and (min-width: 0px) {
  body .container {
    display: none;
  }
  .failed {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  color: var(--color-secondary-000);
  overflow: hidden;
}

.navigation {
  background-color: var(--color-secondary-000);
  display: inline-flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 1.2rem 0;
}

.nav-btn {
  width: 6.5rem;
  height: 6.5rem;
  background-color: var(--color-secondary-100);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem 0rem 2rem;
}

.nav-btn.active {
  border: 2px solid var(--color-primary-200);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.2rem;
}

.info .about-text {
  text-transform: uppercase;
  color: var(--color-primary-200);
  font-weight: bold;
  transform: rotate(-90deg);
  margin: 3.5rem 0;
  text-decoration: none;
}

.info svg {
  stroke: var(--color-primary-200);
  transform: rotate(-45.25deg);
}

.section-content {
  width: 100%;
  height: 100vh;
  padding: 3rem;
  overflow-y: scroll;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 13%;
}

.heading01 {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  letter-spacing: 7px;
  animation: slideInLeft 1s backwards .3s ease;
}

.heading01 svg {
  margin-right: 1.2rem;
  stroke: var(--color-secondary-000);
}

.main-content {
  height: 87%;
  width: 100%;
  padding-top: 1.5rem;
}

.selectors {
  width: 40rem;
  display: flex;
  justify-content: space-between;
}

form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../img/arrow-down.png) no-repeat center right #fff;
  width: 18rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  color: var(--color-secondary-000);
  border: 1px solid var(--color-secondary-125);
}
