.reload {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0.8rem 2rem;
  background-color: var(--color-secondary-100);
  border-radius: 40rem;
  right: 0;
  color: var(--color-secondary-300);
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
}

.reload img {
  margin-right: 1rem;
}

.main-content {
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  columns: 3;
  column-gap: 3rem;
}

.announcement {
  width: 100%;
  margin: 0 0 3rem;
  break-inside: avoid;

  background-color: var(--color-secondary-300);
  color: var(--color-secondary-000);
  border-radius: 1rem;
  border: 1px solid var(--color-secondary-125);
  padding: 2.2rem;
  cursor: pointer;
}

@media (max-width: 1100px) and (min-width: 820px) {
  .wrapper {
    columns: 2;
    column-gap: 3rem;
  }

  .announcement {
    width: 100%;
    margin: 0 0 1rem;
  }
}

@media (max-width: 820px) and (min-width: 0px) {
  .wrapper {
    columns: 1;
    column-gap: 3rem;
  }

  .announcement {
    width: 70%;
    margin: 0 auto 1rem;
  }
}

.announcement .title {
  font-size: 2.2rem;
  font-weight: bold;
}

.announcement .companyName,
.announcement .localization {
  font-size: 1.6rem;
  margin: 0.2rem 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 1rem;
}

.tags .tag {
  display: flex;
  align-items: center;
  background-color: var(--color-secondary-200);
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  gap: 0.5rem;
  font-size: 1.6rem;
}

.announcement .description {
  margin: 3rem 0;
  font-size: 1.5rem;
  color: var(--color-secondary-050);
}

.announcement .option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.8rem;
}

/* ----------- MODAL ------------ */

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal .content img.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

/* ---------- MODAL CONTENT ---------- */

.modal .content .title {
  font-size: 3rem;
  font-weight: bold;
}
.modal .content .companyName,
.modal .content .localization {
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.modal .content .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 2rem;
}

.modal .content .tags .tag {
  display: flex;
  align-items: center;
  background-color: var(--color-secondary-200);
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  gap: 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.modal .content .description {
  margin: 3rem 0;
  font-size: 1.8rem;
  color: var(--color-secondary-050);
}

.modal .content .option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.8rem;
  font-size: 1.8rem;
}

.modal .content .option img {
  width: 25px;
}

.modal .content .option input {
  font-size: 1.8rem;
}

#costum-button {
  padding: 1rem;
  color: var(--color-secondary-300);
  background-color: var(--color-primary-050);
  border-radius: 5px;
  cursor: pointer;
}
#costum-button {
  opacity: 0.9;
}
#costum-text {
  margin-left: 1rem;
  color: var(--color-secondary-1);
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

input[type="file"] {
  display: none;
}

label.upload-btn {
  display: flex;
  align-items: center;
  background-color: var(--color-secondary-300);
  color: var(--color-primary-050);
  padding: 0.4rem 1.5rem;
  border-radius: 5rem 0 0 5rem;
  border: 2px solid var(--color-primary-050);
  cursor: pointer;
  transition: all 0.4s ease;
  z-index: 1;
  margin-right: 8rem;
}

label.upload-btn .text {
  max-width: 18rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

label.upload-btn svg {
  margin-right: 1rem;
  fill: var(--color-primary-050);
}

label.upload-btn:not(.chosen):hover {
  background-color: var(--color-primary-050);
  color: var(--color-secondary-300);
}

label.upload-btn:hover svg {
  fill: var(--color-secondary-300);
  width: 3.3rem;
}

label.upload-btn.chosen {
  background-color: #3ab52d;
  color: var(--color-secondary-300);
  border: 2px solid #3ab52d;
}

label.upload-btn.chosen svg {
  margin-right: 1rem;
  fill: var(--color-secondary-300);
}

form button#formBtn {
  color: var(--color-primary-050);
  font-size: 1.8rem;
  position: absolute;
  height: 100%;
  width: 13rem;
  text-align: right;
  padding: 0rem 1.5rem;
  border-radius: 5rem;
  right: 0rem;
  border: 2px solid var(--color-primary-050);
  background-color: var(--color-secondary-300);
  transition: all 0.5s ease;
  cursor: pointer;
}
